body {
	background: grey;
}

.commentEditForm {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: auto;
	background: white;
	padding: 5px;
	border-radius: 5px;
}

.commentEditFormP {
	text-align: center;
	margin-bottom: 5px;
}

.commentEditFormA {
	margin: 5px 0 auto auto;
	color: blue;
	cursor: pointer;
}