body {
	background: grey;
}

.createForm {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: auto;
	background: white;
	padding: 5px;
	border-radius: 5px;
}


.createFormA {
	margin: 5px 0 auto auto;
	color: blue;
	cursor: pointer;
}