body {
	background: grey;
}

.login {
	position: fixed;
	background: black;
	color: white;
	padding: 5px;
	font-size: 20px;
	right: 0;
	bottom: 20px;
	opacity: 0.5;
}

.login:hover {
	opacity: 1;
}

.container {
	background: white;
	border-radius: 5px;
}

.categoryWrap {
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}

.categoryWrapA {
	margin: 2px 5px;
	padding: 5px 10px;
	background: black;
	color: white;
	border-radius: 100px;
}

.listWrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.listWrapP {
	margin: 10px 0;
}

.listWrapItem {
	min-width: 350px;
	width: 32%;
	display: flex;
	align-items: center;
	justify-content: left;
	margin: 10px 10px 0 0 ;
	border: 0.5px solid black;
	border-radius: 5px;
	overflow: hidden;
}

.listWrapItemImg {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.listWrapItemWrap {
	margin: 0 10px;
	width: fit-content;
}

.listWrapItemWrapH3 {
	font-size: 20px;
}

.listWrapItemWrapA {
	font-size: 10px;
}

.listA {
	margin: 5px 0;
	color: blue;
}

.post .container {
	min-height: 500px;
	width: 900px;
}

.postH2 {
	text-align: center;
}

.postImg {
	float: left;
	min-height: 150px;
	max-height: 250px;
	max-width: 300px;
	object-fit: cover;
	margin-right: 10px;
}

.postP {
	text-align: justify;
}

.postInfo {
	color: grey;
	font-size: 12px;
	text-align: right;
}

.postA {
	color: blue;
	cursor: pointer;
}

.comments .container {
	width: 900px;
}

.commentsWrapItem {
	display: flex;
	align-items: flex-start;
	justify-content: left;
	border: 0.5px solid black;
	border-radius: 5px;
	margin: 5px 0;
}

.commentsWrapItemImg {
	height: 70px;
	width: 70px;
	border-radius: 100px;
	object-fit: cover;
	margin: 5px 25px 5px 5px;
}

.commentsWrapItemWrapInfo {
	color: grey;
	font-size: 12px;
	margin-top: 5px;
}

.commentsWrapItemWrapA {
	color: grey;
	font-size: 12px;
	margin-top: 5px;
}

.commentsWrapP {
	margin: 10px 0;
	text-align: center;
}

.commentsA {
	color: blue;
	cursor: pointer;
}

.comment .container {
	width: 900px;
}

.commentP {
	text-align: center;
	margin: 10px 0;
}

.commentA {
	color: blue;
	cursor: pointer;
}

.commentForm {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	padding: 1px;
}

.commentFormInp {
	resize: none;
	width: 600px;
	margin-bottom: 0;
}

.commentFormBtn {
	width: 200px;
}

.categoryList .container {
	width: 300px;
}

.categoryListWrapFormInp {
	width: 250px;
}

.categoryListWrapItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.categoryListWrapItemFormInp {
	width: 250px;
}

.categoryListWrapItemA {
	color: white;
	background: black;
	border-radius: 100px;
	padding: 2px 7px;
}

.categoryListA {
	color: blue;
	cursor: pointer;
}