body {
	background: grey;
}

.signForm {
	display: flex;
	flex-direction: column;
	max-width: 400px;
	margin: auto;
	background: white;
	padding: 5px;
	border-radius: 5px;
}

.signFormRem {
	margin: auto auto 5px;
}

.signFormRem * {
	display: inline;
}

.signFormA {
	margin: 5px 0 auto auto;
	color: blue;
	cursor: pointer;
}